body {
  background-image: url("assets/straw3.png");
  background-repeat: repeat;
}

.title {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: 0.85;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  text-align:center;
  white-space: nowrap;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  width: 25%; /* Full-width */
  height: 15px;
  border-radius: 5px; 
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 30px; /* Set a specific slider handle width */
  height: 40px;
  border: 0;
  background-image: url("assets/carrot2.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
 /* background: #4CAF50; Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 25px;
  border: 0;
  background-image: url("assets/carrot2.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer; /* Cursor on hover */
}




.slider_tomato {
  -webkit-appearance: none;  /* Override default CSS styles */
  width: 25%; /* Full-width */
  height: 15px;
  border-radius: 5px; 
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider_tomato:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider_tomato::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 30px; /* Set a specific slider handle width */
  height: 40px;
  border: 0;
  background-image: url("assets/tomato5.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
 /* background: #4CAF50; Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider_tomato::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 25px;
  border: 0;
  background-image: url("assets/tomato5.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer; /* Cursor on hover */
}
table, th, td {
  border: 1px solid black;
}

table#results {
    width:50%; 
    margin-left:25%; 
    margin-right:25%;
  }

p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 150px;
  font-family: Helvetica;
}

#intro {
  font-style: italic;
}

#button1 {
  text-align: center;
}

.liveScore {
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  border: 2px solid;
  border-radius: 5px;
  border-color: #d3d3d3;
}

h1, h3{
  text-align: center;
  font-family: Helvetica;
}

table{
  font-family: Helvetica;
}

button{
 display:inline-block;
 padding:0.5em 3em;
 border:0.16em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 box-sizing: border-box;
 text-decoration:none;
 text-transform:uppercase;
 font-family:'Roboto',sans-serif;
 font-weight:400;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.15s;
}

button:hover{
 color:#DDDDDD;
 border-color:#DDDDDD;
}
button:active{
 color:#BBBBBB;
 border-color:#BBBBBB;
}
@media all and (max-width:30em){
 button{
  display:block;
  margin:0.4em auto;
 }
}

#results .hidden_row { 
  display: none; 
} 