body {
  background-image: url("assets/straw3.png");
  background-repeat: repeat;
}

.button {
  background-color:#a3ca7f;
  border-radius:28px;
  border:1px solid #a3ca7f;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}
.button:hover {
  background-color:#b6d992;
}
.button:active {
  position:relative;
  top:1px;
}

.pics {
  width: 200px;
}

.traits {
  margin-right: 10px;
  margin-left: 10px;
}

.title {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: 0.85;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  text-align:center;
  white-space: nowrap;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  width: 25%; /* Full-width */
  height: 15px;
  border-radius: 5px; 
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 30px; /* Set a specific slider handle width */
  height: 40px;
  border: 0;
  background-image: url("assets/carrot2.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
 /* background: #4CAF50; Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 25px;
  border: 0;
  background-image: url("assets/carrot2.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer; /* Cursor on hover */
}

.slider_tomato {
  -webkit-appearance: none;  /* Override default CSS styles */
  width: 25%; /* Full-width */
  height: 15px;
  border-radius: 5px; 
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider_tomato:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider_tomato::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 30px; /* Set a specific slider handle width */
  height: 40px;
  border: 0;
  background-image: url("assets/tomato5.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
 /* background: #4CAF50; Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider_tomato::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 25px;
  border: 0;
  background-image: url("assets/tomato5.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer; /* Cursor on hover */
}
table, th, td {
  border: 1px solid black;
}

table#results {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
  }

p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 150px;
  font-family: Helvetica;
}

#intro {
  font-style: italic;
}

#button1 {
  text-align: center;
}

.liveScore {
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  border: 2px solid;
  border-radius: 5px;
  border-color: #d3d3d3;
}

h1, h3{
  text-align: center;
  font-family: Helvetica;
}

table{
  font-family: Helvetica;
}

button{
 display:inline-block;
 padding:0.5em 3em;
 border:0.16em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 box-sizing: border-box;
 text-decoration:none;
 text-transform:uppercase;
 font-family:'Roboto',sans-serif;
 font-weight:400;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.15s;
}

button:hover{
 color:#DDDDDD;
 border-color:#DDDDDD;
}
button:active{
 color:#BBBBBB;
 border-color:#BBBBBB;
}
@media all and (max-width:30em){
 button{
  display:block;
  margin:0.4em auto;
 }
}

#results .hidden_row { 
  display: none; 
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  display: block;
  margin-left: 25%;
  margin-right: 25%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} 